<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40-Client" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net40-Client" developmentDependency="true" />
  <package id="FreeSpire.Office" version="2.15" targetFramework="net40-Client" />
  <package id="MahApps.Metro" version="1.6.0-alpha009" targetFramework="net40-Client" />
</packages>