<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 基础设置 -->
    <add key="SvnServerAddr" value="http://192.168.10.12:8020/svn/software/project"/>
    <add key="GitServerAddr" value="ssh://administrator@192.168.10.4:22/ICW/home/administrator"/>
    <!-- Svn正则设置 -->
    <add key="SvnRegxEventId" value="(?&lt;SvnRegxEventId&gt;(Bug|Story|Task)[\s|#]{0,}?[0-9]{3,5})" />
    <add key="SvnRegxContent" value="Issue[\s]{0,}[:|：][\s]{0,}(?&lt;SvnRegxContent&gt;[^-]{24,}?)(?:Tasks|Task|Affected)&#xD;&#xA;Reason[\s]{0,}[:|：](?&lt;SvnRegxContent&gt;.*?)(?:Modified|Issue)&#xD;&#xA;Tasks[\s]{0,}[:|：](?&lt;SvnRegxContent&gt;.*?)(?:Demand)&#xD;&#xA;Modified[\s]{0,}[:|：](?&lt;SvnRegxContent&gt;.*?)(?:Issue|Module|\*\*\*)" />
    <add key="SvnRegxAdd" value="(新增|增加)" />
    <add key="SvnRegxBack" value="(回退|撤回|撤销)" />
    <add key="SvnRegxOptimize" value="(优化|改善)" />
    <add key="SvnRegxFix" value="(修复|解决|出错|错误|异常|崩溃|挂掉|问题|不能|不正确|未正确|没有|不可预知|结果|失败)" />
    <add key="SvnRegxOem" value="(定制|客户要求|默认)" />
    <!-- 实验室 -->
    <add key="EnableRegx" value="True" />
    <add key="EnableAiLearning" value="True" />
    <add key="EnableAiDecisionChangeType" value="True" />

    <!-- 神经网络状态 -->
    <add key="StatisticsSvnChangeTypeCnt" value="0" />
    <add key="StatisticsSvnChangeTypeAccuracy" value="0.0" />
  </appSettings>
</configuration>