<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40-Client" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net40-Client" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40-Client" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net40-Client" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net40-Client" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net40-Client" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net40-Client" />
  <package id="SharpSvn.1.9-x86" version="1.9005.3957.231" targetFramework="net40-Client" />
</packages>